@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: Dana;
  src: url("../src/fonts/DanaReg.ttf");
}

* {
  overflow: hidden;
  scroll-behavior: smooth;
  font-family: Dana;
}
body {
  direction: rtl !important ;
  overflow-x: hidden;
  overflow-y: scroll;
}
@layer components {
  .container {
    @apply mx-auto w-full;
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;

    @media (min-width: 640px) {
      max-width: 600px;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    @media (min-width: 768px) {
      max-width: 728px;
      padding-left: 2rem;
      padding-right: 2rem;
    }
    @media (min-width: 1024px) {
      max-width: 984px;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
    @media (min-width: 1280px) {
      max-width: 1240px;
      padding-left: 3rem;
      padding-right: 3rem;
    }
    @media (min-width: 1536px) {
      max-width: 1496px;
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }
  .title-gradient {
    @apply bg-gradient-to-l text-transparent bg-clip-text from-amber-200 to-amber-600;
  }
  .dashboard-btn {
    @apply w-full flex items-center justify-start gap-2 py-2 px-5 rounded-lg btn btn-soft btn-warning duration-300;
  }
  .logout-btn {
    @apply w-full flex items-center justify-start gap-2 hover:gap-3 py-2 px-5 rounded-lg btn btn-soft btn-error duration-300;
  }
}
