@import "tailwindcss";
@plugin "daisyui";

body {
  overflow-x: hidden;
}

@layer components {
  .container {
    @apply mx-auto w-full;
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;

    /* Breakpoints ریسپانسیو */
    @media (min-width: 640px) {
      max-width: 600px;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    @media (min-width: 768px) {
      max-width: 728px;
      padding-left: 2rem;
      padding-right: 2rem;
    }
    @media (min-width: 1024px) {
      max-width: 984px;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
    @media (min-width: 1280px) {
      max-width: 1240px;
      padding-left: 3rem;
      padding-right: 3rem;
    }
    @media (min-width: 1536px) {
      max-width: 1496px;
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }
}
